
*{
    margin: 0;
    padding: 0;
}
.blue{
    background-color: rgb(1, 111, 255);
}
.green{
    background-color: rgb(65, 255, 1);
}
.fontLinea{
    font-size: 30px;
}
table{
    padding: 0;
    border: 1px solid rgb(85, 85, 226);
}
td{
    border: 1px solid black;
    text-align: center;
    margin: 0;
    padding: 10px;
}
div {
    width: 400px;
    height: 400px;
    font-size: 70px;
    display: flex;
    text-align: center;
    color: #050000;
    background-color: #FFF000;
    justify-content: center;
    align-content: flex-end;
    flex-direction: column;
    align-self: center;
    margin-top: 10%;
    margin-left:37% ;
    
}
